.footerArea{
	padding-top: 6px;
	width: 100%;
	height: 30px;
	background: #d1d3d6;
}

.filterArea {
	margin-top: 30px;
}

.graphArea {
	position: relative;
	padding: 15px;
	overflow-x: scroll;
	width: 1200px;
}

.graphView {
	width: 100%;
}

.editArea ul {
	list-style:none	;
}

.editArea li {
	float: left;
	padding: 5px;
}