/*
全体設定
*/

body {
	background-image: url("/img/paper_bk.jpg");
	margin: 10px 0px;
	width: 100%;
}

#header {
	font-size: 18pt;
	font-weight: bold;
	margin: 10px;
}

#content {
	color: #999;
	padding: 10px 25px 30px 25px;
	font-size: 14pt;
}

#footer {
	text-align: right;
	font-size: 12pt;
	margin: 10pt;
}

h1 {
	color: #aaa;
	font-size: 24pt;
	margin: 20pt 0pt 50pt 0pt;
}

.wrapper {
	width: 1140px;
	margin: auto;
}

button {
	margin-top :20px;
}

/*
index.ctp
トップページ
*/

#title2017 {
	width: 100%;
}

/*
select.ctp
一覧ページ
*/

.logo_frame {
	background-image: url("/img/frame_logo.jpg");
	background-size: cover;
	width: 1140px;
	height: 330px;
}

.select_img {
	background-image: url("/img/frame.jpg");
	background-size: cover;
	padding: 40px;
	width: 300px;
	height: 480px;
}

/*
投票ページ
vote.ctp
*/

.vote_img {
	background-image: url("/img/frame.jpg");
	background-size: cover;
	padding: 40px;
	margin: auto;
	width: 380px;
	height: 560px;
}

#target {
	margin: auto;
}

/*
result.ctp
結果ページ
*/

.counter {
	background-color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.result_img {
	position: relative;
}

/*
完了ページ
complete.ctp
*/

.thanks {
	color: orange;
	text-align: center;
	margin: auto;
}

.complete {
	margin: auto;
	height: 1000px;
}
